*{
    margin: 0;
    padding: 0;
    /* for nav */

    /* background-image: url(Coding.jpg); 
    
 background-size: cover; 
   */
  
}

body{

    background-image: url(Coding.jpg); 
   
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
   
    color:#926239;
    background-color: black;
    line-height: 1.6;

    /* for nav */
   
}


html{
   scroll-behavior:auto;
}
/* weblit- prefix */
::-webkit-scrollbar{
width: 1.5rem;
   
}
 ::-webkit-scrollbar-track{
   background-color:yellow;
} 
::-webkit-scrollbar-thumb{
   background-color: blueviolet;
   border-radius: 1rem;
  
}
nav{
   

   /* flex-direction: row; */
    background-color: rgb(11, 7, 1);
    color: #fff;
    height: 80px;
    width: 100%;
   float:left;

  
}

nav ul{
overflow: hidden;
position: fixed;
    top: 0;
    margin-left: 40%;
   

}
nav ul li{

display:inline-block;
line-height: 80px;
margin:0 5px

}
nav ul li a{

    margin-top: 0px;
    color: #fff;
    font-size:17px;
    
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative; 
 display: block;
  
}

a.active,a:hover{
    background: red;
    /* transition: 0.5s ; */
}


#Home{
   
     height: 200vh; 
    background-size: cover;
    background-position: center;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;

}
#Home h1{
font-size: 50px;
line-height: 1.2;
margin-top: 0px;

margin-bottom:50px;
}
#Home nav{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    margin-bottom: 600px;
    position:-webkit-sticky; 
    position: sticky;  
    top:0; 
   
}

#Home p{
    font-size: 25px;
    margin-top: 20px;
}
#Home .button{
    font-size: 18px;
    text-decoration: none;
    color:#926239;
    border:white 1px solid;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
}
  .Diya{
     
            background-color: black; 
            border: solid black;
             height: 350px;  
            width: 330px; 
            position: relative;
            border-radius: 50%;
            margin-left: 40px;
            margin-top: 10px;
            
    }
    .Img{
        /* background-color: black;  */
      
         height: 400px;  
        width: 500px; 
        position: relative;
    float: right; 
    padding-top: 30px;
        padding-right: 180px;
        border-radius: 30px;

    } 
     #box-1{

        background-color: bisque;
        justify-content: center; 
     text-align: center;
  
        box-sizing: border-box;
        box-sizing: 100px;
        
        margin-top: 100px;
    }  
     
    #Introduction{
        display: flex;
    } 
     #Introduction .box-a{
    
        margin-top: 80px;
        padding-top: 50px;
        margin-left: 30PX;
         margin-right: 800px;  
       padding-bottom: 100px;
       padding-left: 0px;
      border-radius: 20px;
      
       
    } 
     /* 1st bis editing of intro-1 */ 
     #Introduction .box-a h2{
        justify-content:center;
padding: 10px;
        color: rgb(255, 0, 255);
        font-weight: 400px;
        font-size: 30px;
       padding-left: 0px;
   
        
     }
     #Introduction .box-b h2{
        justify-content: center;
        color: rgb(255, 17, 0);
        margin-left: 0px;
        
     }
    #Introduction .box-a, #Introduction .box-a{
        background: blanchedalmond;
        color:black;
        padding-left: 50px;
        border: 3px dashed #a43547;
    
   

    }  
    #Introduction .box-b{
       
        margin-left: 650px;
       margin-top: 0px;
        margin-right: 10px;
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 40px;
         padding-bottom: 100px;
       background:rgb(121, 164, 223); 
        color:#fff ;
        border-radius: 15px;
        padding-left: 50px;
        border: 3px dashed #151247;

    } 
    /* /* 2nd box editing  */
    
     .container{
        box-sizing: border-box;
      border-radius: 10px;
        width: 96%;
        /* background-color: burlywood;  */
        height: 1000px;
        /* background:rgb(239, 210, 210) */
           margin-right: 50px;
         margin-left: 50px;

        margin-top: 150px;

        /* background: #f6b277; */
        box-shadow: 0 5px 15px #d7dd2999;
        border: 2px solid #fff;
       
       
       
        
     }
  
     .container h1{
    
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color:darkred;   
     }

     /* Languages Known */
     #Languages_Known{
        display: flex;
     }
     /* Lang known white box */
     #Languages_Known .lg {
        box-sizing: border-box;
        border-radius: 10px;
       width:1400px;
          /* background-color: burlywood;  */
          height: 1400px;
          /* background:rgb(239, 210, 210) */
            
           margin-left: 50px;
  
          margin-top: 80px;
       
          border-radius: 10px;
          box-shadow: 0 5px 15px #dd652999;
          border: 2px solid #fff;

     }
     #Languages_Known .lg h1{
       

        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color:darkred;


     }
     /* Images box */
     #Languages_Known .Lg{


        margin-top: 60px;
        padding-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
       
       padding-bottom: 50px;
       /* padding-left: 0px; */
      border-radius: 20px;
      border: 3px dashed #a43593;
      background: #a5efe0;
      
      /* color:#fff; */
      padding-left: 50px;
         
    
        
     }
     #Languages_Known .Projects{
       
      

      box-sizing: border-box;
      border-radius: 10px;
     width:1300px;
        /* background-color: burlywood;  */
        height: 590px;
        margin-left: 50px;

        margin-top: 20px;
       
        border-radius: 15px;
        box-shadow: 0 5px 15px #ddce2999;
        border: 2px solid #160ef8;
      /* text editing  of project name*/
      padding-left: 30px;
      font-size: 25px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: aliceblue;

     }
/* Project heading editing */
      .Projects h1{
     
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color:darkred;
       
        margin-top: 10px;
        text-decoration:underline;
 
       

     }
     /* My Experience */
     #footer{
        display:flex;
     }
     /* white border box editing */
     #footer .exp{
        box-sizing: border-box;
        border-radius: 10px;
       width:1400px;
          
          height: 1800px;
         
            
           margin-left: 20px;
           margin-right: 20px;
  
          margin-top: 80px;
         
          border-radius: 10px;
          box-shadow: 0 5px 15px #29dd2999;
          border: 2px solid #fff;
         
     }
     /*  footer My exp pink box editing*/
     #footer .ft{

        margin-top: 20px;
        padding-top: 70px;
        margin-left: 50px;
        margin-right: 50px;
    position: fixed;
        padding-bottom: 100px; 
position: relative;
      border-radius: 20px;
      border: 3px solid #e05d0c;
      background: black;
      background: #f0bee1;
     
      
      padding-left: 50px;
         
    
        
     }
     #footer .ft h2{
        color:black;
        line-height: 1.6;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
      
        transition: transform 0.5s;
        
     }
     #footer .ft h2:hover{
        transform: translateY(-7px);
        color:blueviolet;
        padding-top: 20px;
        
     }
     #footer p{
        font-size: 20px;
        color: #0d7c8d;
        line-height: 1.2;
     }
     /* Contact Section */

     /* contact colorful box  */
     .contact .ct{

 margin-top: 10px;
        padding-top: 40px;
        margin-left: 50px;
        margin-right: 50px;
    position: fixed;
        padding-bottom: 600px; 
position: relative;
      border-radius: 30px;
      box-shadow: 0 5px 15px #ddce2999;
      border: 2px dashed #a43535;
      background: black;
    
     
      
      padding-left: 50px;
     
     }
     /* Contact heading  */
  .contact h1{
    
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      color:darkred;
      margin-top: 100px;
      transition: transform 0.5s;
     
   }
   .contact h1:hover{
      transform: translateY(-7px);
   
      padding-top: 20px;
      
   }
   .contact-left{
      flex-basis: 35%;
    }
    .contact-right{
      flex-basis: 80%;
      float: right;
    }
    .contact-left p{
      margin-top: 30px;
    }
    .contact-left p i{
      color: #ff004f;
      margin-right: 15px;
      font-size: 25px;
    }
.social-icons{
   margin-top: 30px;
}
.social-icons a{
   text-decoration: none;
   font-size: 30px;
   margin-right: 15px;
   color: #ababab;
   display: inline-block;
   transition: transform 0.5s;
}
.social-icons a:hover{
   color: #fff;
   transform: translateY(-5px);

}

contact-right form{
   width: 100%;

}
form input,form textarea{
   width:95%;
   border:0;
   outline: none;
  
    background: #262626; 
   padding: 15px;
   /* margin-top: 15px;
   /* margin-bottom: 15px; */
   margin: 15px 0;
   color: #fff;
   font-size: 18px;
   border-radius: 6px;



}
form .btn2{
   padding: 10px 60px;

   justify-items:  center;
   font-size: 18px;
   margin-top: 20px;
   cursor: pointer;
   display: inline-block;
background: #ff004f;

}
.sub-tittle{
   font-size: 40px;
   font-weight: 600;
   color: #fff;
}


      


 