:root{
    ---purple:#800080;
    ---yellow:#ffff00;
       ---red:#ff0000;
       ---white:#ffff;
}

body{
    margin:0;
    padding: 0;
}
section{
    padding: 0 100px;
    
    background:url(2.jpg);
    height: 100vh;
    display:flex;
    align-self: center;
    color: var(---white);
    font-size: 15px;
    align-items: center;
    flex-direction: row-reverse;

}
.box{
    position: relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px #d7dd2999;
    border: 5px solid black;
}
.box h1{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color:purple;
     opacity: 0.5; 
    
}
.box p{
    margin: 0;
    padding: 0;
    font-size: 18px;
   
}
