*{
    margin: 0;
    padding: 0;
}
body
{

    background-color:darkgrey;
  
    margin: 500x;
    padding: 3px;
}

    


.Diya{
/* background-image: url("blank image.jpg"); */

    margin-top: 400px;
   border-radius: 50%;
   border: 2px solid black;
   border-color: black;

   border:5px solid black;
     margin: 20px;

    width: 500px;
    height: 400px; 
    /* margin-left: 20px;
 */

    
    /* font-family: calibri;
    font-weight: bold
    color:lighter;
    font-size:22px; */

}
.About-Me{
    margin: auto;
    padding-left: 20px;
    width: 60%;
    border: 3px solid black;
  margin-top: 20px;

  padding-: 10px;
   
}
.My-Education{
    line-height: 1.6;
    
    margin: auto;
    padding-left: 20px;
    width: 60%;
    border: 3px solid black;
    margin-top: 40px;
    float:initial
 
}
.My-Skills{
    margin: auto;
    padding-left: 30px;
    width: 60%;
    border: 3px solid black;
    margin-top: 40px;
    float:initial
   
}
.My-Projects{
    

    margin: auto;
    padding-left: 30px;
    width: 60%;
    border: 3px solid black;
    margin-top: 40px;
    float:initial
    
   
}
.contact-me{
    margin: auto;
    padding-left: 30px;
    width: 60%;
    border: 3px solid black;
    margin-top: 40px;
    float:initial
}


.thanks{
    
        margin: auto;
        padding-left: 30px;
        padding-top: 50PX;
        width: 60%;
        border: 3px solid black;
        margin-top: 40px;
        float:initial
}

.pqr{
    background-color: aqua;
}