/* (* universal selector to complete web page  */
*{
    margin: 0;
    padding: 0;
    /* background-color: aqua;*/

} 


/* body- tag name selector */
body
{

    background-color:red
}
/* (body -  */

/* (class Selector) */
.abc{
    /* border: solid 2px black; */
    /* border: 2px dotted black;
    border: 2px dotted black; */
     border: 2px dashed black; 
    /* border: 2px groove black; 
    border: 2px ridge black; 
    border: 2px outset black; 
  border: 2px inset black;  */
  padding: 30px;
  padding-left:70px;
  padding-right:60px;
   padding-top:20px;
  padding-bottom:10px;
  padding: 10px 20px 30px 40px;

  margin: 20px;

  background-color: antiquewhite;
  
  
  
}
.XYZ{
    border: 20PX solid black;
    padding: 30PX; 

}
.pqr{
    border: 30px solid black;
    padding: 40px;
}

h1{
    border: 50px solid black;
    margin: 60;
    padding: 20px;
    text-align: center;
    }
    p{
        border:10px solid black;
        padding: 10px;


    }